/* Fallback Mode Panel */
PanelWidget,
PanelApplet,
PanelToplevel {
    background-color: @theme_bg_color;
    padding: 0;
    border-color: shade (@theme_bg_color, 0.78);
    border-radius: 0;

    color: @theme_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    background-color: @theme_bg_color;
}

PanelAppletFrame {
    background-color: @theme_bg_color;
}

PanelApplet .button {
    background-color: @theme_bg_color;
    border-color: shade (@theme_bg_color, 0.78);
    border-radius: 0;
    border-width: 0 1 0 1;

    text-shadow: none;

    -unico-border-gradient: none;
    -unico-glow-radius: 0;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

PanelApplet .button:prelight,
PanelApplet .button:prelight:active,
PanelApplet .button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.0)),
                                     to (shade (@theme_bg_color, 0.99)));

    color: @theme_fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_color, 0.88)),
                                           to (shade (@theme_bg_color, 0.9)));
    -unico-glow-radius: 0;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_color, 1.14)),
                                                 to (shade (@theme_bg_color, 1.0)));
    -unico-inner-stroke-width: 1;
}

ClockBox {
}

WnckPager, WnckTasklist {
    background-color: @theme_bg_color;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 12;
    -NaTrayApplet-icon-size: 16;
}
